* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    background-color: rgb(243, 204, 156);
}

.card {
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .card:hover {
    transform: rotate(-5deg);
  }
  .card:hover .outside {
    transform: rotateY(-130deg);
  }

  .outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}
.inside {
  background: linear-gradient(to right, #e3d7b8, #faedcb 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
  border-radius: 10px;
}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  border-radius: 10px;
}
.front {
  background-color: #faedcb;
  text-align: center;
  border-radius: 10px;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e3d7b8, #faedcb 30%);
  border-radius: 10px;
}
.outside p {
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    color: #000046;
  }
  .inside p {
    font-size: 20px;
    line-height: 25px;
  }

  #ratparty {
    height: 200px;
    width: 200px;
    border-radius: 15%;
    position: relative;
    border-style: double;
    top: 30px;
  }

  .aubrey img {
    position: relative;
    top: 580px;
    right: 0px;
    width: 100px;
    height: 100px;
  }

  .aubrey:hover img{
    opacity: 0;
  }

  .aubrey::before {
    content: "";
    position: absolute;
    top: 580px;
    left: 0;
    width: 100px;
    height: 100px;
    background: url('images/aubrey.webp') no-repeat center center;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    .aubrey:hover::before {
    opacity: 1;
}

.text {
    position: absolute;
    font-size: 12px;
    top: 550px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.aubrey:hover .text {
    opacity: 1;
}